*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  background: gray;
  font-size: 14px;
  color: #252b42;
  font-weight: 500;
  font-family: "Oxanium", cursive;
  font-family: "Work Sans", sans-serif;
}

.wrapper {
  border: 1px solid green;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px auto;
}

._container {
  border: 1px solid blue;
  max-width: 1450px;
  padding: 0 5px;
  margin: 0px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  border: 1px solid red;
  position: relative;
}

.header {
  min-height: 66px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 37px;
  margin-bottom: 139px;
}

.header__logo {
  min-width: 66px;
  min-height: 66px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 73px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 161px;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 64px;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #F5FBF2;
}

.menu__link:hover {
  color: #FFCE4E;
  cursor: pointer;
  -webkit-text-decoration: solid underline 2px;
          text-decoration: solid underline 2px;
  text-underline-offset: 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__batton {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #FFCE4E;
  left: 85.74%;
  right: 0%;
  top: 1.52%;
  bottom: 1.52%;
  background: rgba(233, 215, 167, 0.1);
  /* Primary color */
  border: 1px solid #FFCE4E;
  padding: 22px 30px;
}

.menu__batton:hover {
  color: #F5FBF2;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__batton:active {
  color: #F5FBF2;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.explore {
  max-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.explore__header {
  font-family: "Oxanium";
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
  line-height: 130px;
  margin-top: 32px;
  margin-right: 40px;
  margin-bottom: 77px;
  color: #F5FBF2;
}

.explore__header span {
  color: #FFCE4E;
}

.explore__buttons {
  max-width: 750px;
  min-height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 121px;
}

.explore__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #FFCE4E;
  min-height: 84px;
  min-width: 257px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  /* identical to box height, or 129% */
}

.explore__button:not(:last-child) {
  margin-right: 48px;
}

.explore__button-yellow {
  background-color: #FFCE4E;
  color: #000000;
}

.explore__button-border {
  color: #F5FBF2;
}

.explore__achievements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.achievement__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.achievement__item:not(:last-child) {
  margin-right: 103px;
}

.item__size {
  font-family: "Oxanium";
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 78px;
  /* identical to box height */
  color: #F5FBF2;
}

.item__description {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  /* identical to box height, or 148% */
  color: #9B9E9A;
}

.card {
  border: 5px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 718px;
  max-width: 558px;
}